.search-label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

#user_repo {
    width: 200px;
    height: 30px;
    font-size: 18px;
}

button[type="submit"] {
    width: 100px;  
    height: 35px;
    font-size: 18px;
}

.autocomplete-container {
    position: relative;
    display: inline-block;
}